body {
    background: #E5E5E5
}


.container {
    display: flex;
    width: 760px;
    height: 1360px;
    margin-left: auto;
    margin-right: auto;
    /* padding: auto; */
}

.container-img {
    
    height: 100px;
    
    width: 760px;
    
    margin-left: auto;
    margin-right: auto;
}

.container-img img {
    margin-left:380px;
    margin-top:10px;
}